<p-card>
  <div class="mb-4">
    <h1 class="font-semibold text-lg">Filtros</h1>
    <p class="text-muted-color">Refine sua busca de propriedades</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
    <div class="flex flex-col col-span-1 md:col-span-3">
      <input
        pInputText
        id="search"
        type="text"
        [(ngModel)]="search"
        (ngModelChange)="onSearchChange($event)"
        placeholder="Nome da propriedade"
      />
    </div>

    <p-select
      inputId=" municipality"
      [(ngModel)]="municipality"
      [options]="MunicipalitiesService"
      optionLabel="label"
      optionValue="value"
      (ngModelChange)="onMunicipalityChange($event)"
      placeholder="Selecione o município"
      [showClear]="true"
    />

    <p-select
      inputId="crop"
      [(ngModel)]="crop"
      [options]="cropsOptions"
      optionLabel="label"
      optionValue="value"
      (ngModelChange)="onCropChange($event)"
      placeholder="Selecione a cultura"
      [showClear]="true"
    />

    <p-select
      inputId="leadId"
      [(ngModel)]="leadId"
      [options]="leads"
      optionLabel="name"
      optionValue="id"
      (ngModelChange)="onLeadIdChange($event)"
      placeholder="Selecione o proprietário"
      [showClear]="true"
    />
  </div>
</p-card>
