<div class="flex flex-col gap-4">
  <app-page-header
    [onAction]="handelShowDialog.bind(this)"
    buttonLabel="Novo Cliente"
    description="Sua lista de clientes cadastrados"
    title="Clientes"
  />

  <app-leads-filters
    [(search)]="search"
    [(status)]="status"
    [(municipality)]="municipality"
    [statusOptions]="statusOptions"
    (filtersChange)="onFiltersChange()"
    [municipalityOptions]="MunicipalitiesService.value()"
  />

  <!-- Leads Table -->
  <p-card>
    <p-table [columns]="columns" [value]="leads.value()" [loading]="leads.isLoading()" size="small">
      <ng-template #header let-columns>
        <tr>
          @for (col of columns; track col) {
          <th>
            {{ col.header }}
          </th>
          }
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-rowData let-columns="columns">
        <tr>
          @for (col of columns; track col) {
          <td>
            {{ rowData[col.field] }}
          </td>
          }
          <td class="space-x-2">
            <p-button
              severity="primary"
              variant="text"
              (click)="handleEditLead(rowData.id)"
              icon="pi pi-pencil"
            />
            <p-button
              severity="danger"
              variant="text"
              (click)="handleDeleteLead(rowData.id)"
              icon="pi pi-trash"
            />
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td class="text-center!" colspan="6">Nenhum cliente encontrado.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <!-- Dialog Form -->
  <p-dialog header="Cadastrar Cliente" [modal]="true" [(visible)]="visible" closable="false">
    <app-leads-form (close)="handleClose()" [leadId]="leadId"></app-leads-form>
  </p-dialog>

  <!-- Delete Confirmation Dialog -->
  <p-dialog
    header="Confirmar exclusão"
    [modal]="true"
    [(visible)]="deleteDialogVisible"
    [closable]="false"
    [style]="{ width: '400px' }"
  >
    <p class="text-muted-color">Tem certeza que deseja excluir este cliente?</p>

    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Cancelar" severity="secondary" (click)="cancelDeleteLead()" />
      <p-button label="Confirmar" severity="danger" (click)="confirmDeleteLead()" />
    </div>
  </p-dialog>
</div>
