<p-table [value]="value" [rows]="10" [stripedRows]="true" [loading]="isLoading">
  <ng-template pTemplate="header">
    <tr>
      @for (column of columns; track column.field) {
      <th>{{ column.header }}</th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr>
      @for (column of columns; track column.field) {
      <td>
        {{ rowData[column.field] }}
      </td>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columns.length" class="text-center!">
        {{ emptyMessage }}
      </td>
    </tr>
  </ng-template>
</p-table>
