<form class="space-y-4" [formGroup]="propertiesForm" (ngSubmit)="onSubmit()">
  <!-- Nome -->
  <div class="flex flex-col gap-2">
    <label for="name" class="font-medium">Nome da Propriedade *</label>
    <input
      pInputText
      type="text"
      id="name"
      placeholder="Nome da Propriedade"
      formControlName="name"
      [class.ng-invalid]="isInvalid('name')"
    />
    @if (isInvalid('name')) {
    <p-message severity="error" size="small" variant="simple"
      >Nome da Propriedade é obrigatório.</p-message
    >
    }
  </div>
  <!-- Lead ID -->
  <div class="flex flex-col gap-2">
    <label for="leadId" class="font-medium">Proprietário *</label>
    <p-select
      [options]="leads.value()"
      formControlName="leadId"
      optionLabel="label"
      optionValue="value"
      placeholder="Selecione o Proprietário"
    />
    @if (isInvalid('leadId')) {
    <p-message severity="error" size="small" variant="simple"
      >Proprietário é obrigatório.</p-message
    >
    }
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Cultura -->
    <div class="flex flex-col gap-2">
      <label for="crop" class="font-medium">Cultura *</label>
      <p-select
        [options]="crops"
        formControlName="crop"
        optionLabel="label"
        optionValue="value"
        placeholder="Selecione a Cultura"
      />
      @if (isInvalid('crop')) {
      <p-message severity="error" size="small" variant="simple">Cultura é obrigatória.</p-message>
      }
    </div>

    <!-- Tipo -->

    <div class="flex flex-col gap-2">
      <label for="property_type" class="font-medium">Tipo de Propriedade *</label>
      <p-select
        [options]="propertyTypes"
        formControlName="property_type"
        optionLabel="label"
        optionValue="value"
        placeholder="Selecione o Tipo de Propriedade"
      />
      @if (isInvalid('property_type')) {
      <p-message severity="error" size="small" variant="simple"
        >Tipo de Propriedade é obrigatório.</p-message
      >
      }
    </div>
  </div>

  <!-- Área -->
  <div class="flex flex-col gap-2">
    <label for="area" class="font-medium">Área (ha) *</label>
    <input
      pInputText
      type="number"
      step="0.01"
      id="area"
      placeholder="100.5"
      formControlName="area"
      [class.ng-invalid]="isInvalid('area')"
    />
    @if (isInvalid('area')) {
    <p-message severity="error" size="small" variant="simple"
      >Área é obrigatória e deve ser maior que 0.</p-message
    >
    }
  </div>

  <!-- Município -->
  <div class="flex flex-col gap-2">
    <label for="municipality" class="font-medium">Município *</label>
    <input
      pInputText
      type="text"
      id="municipality"
      placeholder="Município"
      formControlName="municipality"
      [class.ng-invalid]="isInvalid('municipality')"
    />
    @if (isInvalid('municipality')) {
    <p-message severity="error" size="small" variant="simple">Município é obrigatório.</p-message>
    }
  </div>

  <div class="flex gap-4">
    <button pButton type="submit" label="Salvar" icon="pi pi-check"></button>
    <button pButton type="button" label="Cancelar" icon="pi pi-times" (click)="onCancel()"></button>
  </div>
</form>
