<div class="flex flex-col gap-4">
  <app-page-header
    [onAction]="handelShowDialog.bind(this)"
    buttonLabel="Nova Propriedade"
    description="Sua lista de propriedades cadastradas"
    title="Propriedades"
  />

  <!-- Filters Bar -->
  <app-properties-filters
    [(search)]="search"
    [(municipality)]="municipality"
    [(crop)]="crop"
    [(leadId)]="lead_id"
    [cropsOptions]="CROPS"
    [leads]="leads.value()"
    (filtersChange)="onFiltersChange()"
    [municipalities]="municipalities.value()"
  />

  <!-- Properties Table -->
  <p-card>
    <p-table
      [columns]="columns"
      [value]="properties.value()"
      [loading]="properties.isLoading()"
      size="small"
    >
      <ng-template #header let-columns>
        <tr>
          @for (col of columns; track col) {
          <th>
            {{ col.header }}
          </th>
          }
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-rowData let-columns="columns">
        <tr>
          @for (col of columns; track col) {
          <td>
            {{ rowData[col.field] }}
          </td>
          }
          <td class="space-x-2">
            <p-button
              severity="primary"
              variant="text"
              (click)="handleEditProperty(rowData.id)"
              icon="pi pi-pencil"
            />
            <p-button
              severity="danger"
              variant="text"
              (click)="handleDeleteProperty(rowData.id)"
              icon="pi pi-trash"
            />
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td class="text-center!" colspan="6">Nenhum cliente encontrado.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <!-- Dialog Form -->
  <p-dialog
    header="Cadastrar Propriedade"
    [modal]="true"
    [(visible)]="visible"
    [closable]="false"
    [style]="{ width: '500px' }"
  >
    <app-properties-form [propertyId]="property_id" (close)="handleClose()"></app-properties-form>
  </p-dialog>
</div>
