<div class="flex h-full flex-col justify-between border-r border-green-600 bg-green-600">
  <div class="px-4 py-6 overflow-y-auto">
    <div class="mb-6 flex items-center justify-between">
      <img src="/images/logo.png" alt="TM Digital" class="h-8 w-auto" />
      @if (!isDesktop) {
      <p-button
        type="button"
        severity="primary"
        icon="pi pi-times"
        variant="outlined"
        (click)="close()"
      />
      }
    </div>

    <ul class="mt-2 space-y-1">
      <li>
        <p class="block rounded-lg px-4 py-2 text-xs font-medium text-white transition">Geral</p>
      </li>
      @for (items of sidebarItems; track items.label) {
      <li>
        <a
          [routerLink]="items.route"
          class="flex items-center gap-3 rounded-lg px-4 py-2 text-sm font-medium text-white transition hover:bg-gray-100 hover:text-green-600"
        >
          <i class="{{ items.icon }}"></i>
          {{ items.label }}
        </a>
      </li>
      }
    </ul>
  </div>
</div>
