<div class="flex h-full flex-col justify-between border-r border-gray-200 bg-white">
  <div class="px-4 py-6 overflow-y-auto">
    <div class="mb-6 flex items-center justify-between">
      <span
        class="grid h-10 w-32 place-content-center rounded-lg bg-gray-100 text-xs font-semibold text-gray-600"
      >
        Logo
      </span>
      @if (!isDesktop) {
      <p-button
        type="button"
        icon="pi pi-times"
        severity="secondary"
        variant="text"
        (click)="close()"
      />
      }
    </div>

    <ul class="mt-2 space-y-1">
      <li>
        <p class="block rounded-lg px-4 py-2 text-xs font-medium text-gray-700 transition">Geral</p>
      </li>
      @for (items of sidebarItems; track items.label) {
      <li>
        <a
          [routerLink]="items.route"
          class="flex items-center gap-3 rounded-lg px-4 py-2 text-sm font-medium text-gray-700 transition hover:bg-gray-100 hover:text-gray-900"
        >
          <i class="{{ items.icon }}"></i>
          {{ items.label }}
        </a>
      </li>
      }
    </ul>
  </div>
  <div class="border-t border-gray-200 px-4 py-4">
    <div class="flex items-center gap-3">
      <img
        alt=""
        src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?auto=format&fit=crop&q=80&w=160"
        class="h-10 w-10 rounded-full object-cover"
      />
      <div class="text-sm text-gray-700">
        <strong class="block font-semibold">Eric Frusciante</strong>
        <span class="text-gray-500">eric@frusciante.com</span>
      </div>
    </div>
  </div>
</div>
