<p-card>
  <div class="mb-4">
    <h1 class="font-semibold text-lg">Filtros</h1>
    <p class="text-muted-color">Refine sua busca de clientes</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
    <div class="flex flex-col col-span-1 md:col-span-4">
      <input
        pInputText
        id="search"
        type="text"
        [(ngModel)]="search"
        (ngModelChange)="onSearchChange($event)"
        placeholder="Nome do cliente"
      />
    </div>

    <p-select
      inputId="status"
      [(ngModel)]="status"
      [options]="statusOptions"
      optionLabel="label"
      optionValue="value"
      (ngModelChange)="onStatusChange($event)"
      placeholder="Selecione o status"
      [showClear]="true"
      class="w-full"
    />

    <p-select
      inputId="municipality"
      [(ngModel)]="municipality"
      [options]="municipalityOptions"
      optionLabel="label"
      optionValue="value"
      (ngModelChange)="onMunicipalityChange($event)"
      placeholder="Selecione o município"
      [showClear]="true"
    />
  </div>
</p-card>
